html, body, p, pre, #root {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url('/christmas.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

h2 {
  font-family: cursive;
  text-shadow: 3px 3px 5px darkgreen;
  margin-bottom: 30px;
}

pre {
  border: 0 solid transparent;
  background-color: transparent;
  font-size: 1.2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header */
.header-div {
  min-width: 100%;
  color: white;
  font-weight: bold;
  background-color: rgba(30, 30, 30, .95);
  margin: 0;
  padding: 10px 5px;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 4px 5px 15px black;
}

.header-div > div.greeter {
  margin: 1px solid white;
  display: inline;
  text-align: end;
  font-size: 1.2em;
  text-shadow: 2px 2px 5px darkgoldenrod;
}

.header-div > .nav-links {
  display: inline-block;
  margin: 0 auto;
}

.header-div > .nav-links > a.btn {
  margin: auto 3px;
  vertical-align: middle;
}

/* Home */
div#home-content {
  display: inline-block;
}

div#home-foreground-img {
  min-width: 100%;
  min-height: 80%;
  margin: 0 auto;
  background-color: transparent;
  background-image: url('/foreground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  box-shadow: 0 0 80px 180px rgba(0, 0, 0, 0.8) inset;
}

div.testList {
  width: 90%;
  margin: 0 auto;
  border: 1px solid transparent;
  box-shadow: 3px 3px 15px black;
  border-radius: 4px;
  padding: 25px 50px;
  font-size: 1.2em;
  color: aliceblue;
  background-color: rgba(30, 30, 30, .35);
  /*background-color: rgba(30, 30, 30, .95);*/
}

div.test {
  margin: 5px 0;
  /*background-color: rgba(0, 0, 0, 0.25);*/
  background-color: rgba(30, 30, 30, .95);
  padding: 10px;
  border-radius: 10px 0;
  box-shadow: 2px 2px 3px black;
}

div.test > .description {
  margin: 0 0 0 25px;
}

p.home-test-status {
  color: darkgreen;
  font-size: .9em;
  font-family: cursive;
  border-bottom: 1px solid green;
}

p.home-test-status > span {
  color: yellow;
}

/* Test Details */
#test-details {
  color: white;
  background-color: rgba(30, 30, 30, 1);
  border-radius: 4px;
}

#test-details > div {
  margin: 15px;
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px 4px green;
}

#test-details > div > p > span {
  display: inline-block;
  text-align: right;
}

#test-details > .test-details-description > p > pre {
  color: aliceblue;
  font-family: cursive;
  padding: 0 10px;
  font-size: 1.1em;
}

/* Forms */
.form-container {
  text-align: left;
}

label {
  border: 1px solid darkgreen;
  margin: 0 10px 10px 25px;
  color: black;
  text-align: start;
  font-weight: normal;
  font-size: 1.2em;
  vertical-align: baseline;
  background-color: rgba(0, 0, 0, 0.15);
}

.input-group-addon {
  color: white;
  background-color: green;
  box-shadow: 3px 3px 5px black;
}

input[type='text'], input[type='email'], input[type='password'] {
  text-indent: 7px;
}

textarea {
  resize: none;
}

input[type='radio'] {
  margin-right: 20px;
}

input[type='submit'] {
  font-size: 1.2em;
  margin: 0 auto;
}

div.form-group {
  margin: 10px 0;
}

div.test-answers {
  display: inline-block;
  width: 100%;
}

div.question > p.question {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
}

fieldset {
  margin: 20px 0 30px;
}

div.question {
  margin: 0 0 15px 0;
}

div.question > pre {
  color: #222;
  font-size: 1.4em;
  font-weight: bold;
}

/* ReactJS logo */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
